body {
    background: rgba(115, 115, 245, 0.589);
    font: normal 18pt Arial;
    text-align: center;
    align-items: center;
    
}
h2 {
    color: beige;
    text-align: center;
    font-size: 60px;
}
#calcular, #limpar {
    width: 120px;
    background: rgb(130, 118, 241);
    color: white;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 5px 10px -2px rgba(20, 19, 19, 0.486);
    cursor: pointer;
    transition: .5s;
    font-size: 18px;
}
footer {
    color: aliceblue;
    text-align: center;
    font-style: italic;

}
